@charset "UTF-8";

body {
    background-color: rgb(165, 27, 207);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
h1 {
    background-color: dodgerblue;
    font-size: 30px;
    color: rgb(255, 38, 0);
}
h2 {
    font-size: 20px;
    color: rgb(203, 247, 7);
}
p {
    text-align: justify;
}